.ImageGrid {
  display: grid;
  align-items: flex-start;
  gap: clamp(12px, calc(24vw / 7.68), 32px);
  @media (min-width: 400px) {
    grid-template-columns: 1fr 1fr;
  }
  img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}
