.ProductHero {
  .omnibus {
    font-size: calc(14rem / 16);
    color: var(--secondary-400, #97879d);
  }
  .price {
    del {
      font-size: calc(14rem / 16);
      color: var(--secondary-400, #97879d);
    }
  }
  .categories {
    width: fit-content;
    display: flex;
    gap: clamp(8px, calc(16vw / 7.68), 16px);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 26px;
    border: 1.5px solid var(--primary-300, #fff6f9);
    li {
      display: grid;
    }
    a {
      display: flex;
      align-items: center;
      gap: 6px;
      height: 44px;
      line-height: 44px;
      padding: 0 24px;
      border-radius: 22px;
      font-size: clamp(calc(12rem / 16), calc(14vw / 7.68), calc(14rem / 16));
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border: 1px solid var(--primary-400, #ffd7e4);
      background: var(--primary-300, #fff6f9);
      transition: background-color 0.5s, border-color 0.5s;
      &:hover {
        background: var(--primary-400, #ffd7e4);
      }
      &[aria-current='page'] {
        border-color: var(--primary-500, #ffb8ce);
        background: var(--primary-400, #ffd7e4);
      }
    }
  }

  .paymentInfo {
    font-size: calc(14rem / 16);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 12px 8px;
    }
    svg {
      height: 16px;
      max-width: 32px;
    }
  }
}

.Gallery {
  width: 50%;
  .preview {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    img {
      aspect-ratio: 604/758;
      object-fit: cover;
    }
  }
  .thumbnails {
    margin-top: 12px;
    gap: 12px;
    display: flex;
    overflow: auto;
    button {
      flex-shrink: 0;
      position: relative;
      overflow: hidden;
      border-radius: 6px;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: var(--primary-600, #f489a9);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 0.3s var(--easing);
      }
      &[aria-current='true'] {
        &::before {
          transform: scaleY(1);
        }
      }
      img {
        width: clamp(52px, calc(80vw / 7.68), 80px);
        height: clamp(52px, calc(80vw / 7.68), 80px);
        object-fit: cover;
      }
    }
  }
  &:hover {
    .navigation {
      transform: scale(1);
      opacity: 1;
    }
  }
  .navigation {
    position: absolute;
    top: calc(50% - 22px);
    width: 44px;
    height: 44px;
    display: grid;
    place-items: center;
    border-radius: 50px;
    background: var(--primary-200, #fff6f9);
    border: 1px solid var(--primary-400);
    transition: transform 0.3s var(--easing), opacity 0.3s var(--easing);
    transform: scale(0.9);
    opacity: 0;
    &:active {
      transform: scale(0.95);
      transition: none;
    }
    &.prev {
      left: 8px;
    }
    &.next {
      right: 8px;
    }
  }
}
