.floatingBuyButton {
  max-width: 42rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 1px solid var(--primary-400, #ffd7e4);
  border-bottom: none;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: var(--primary-200, #fffdfd);
  padding: 0.5rem var(--pageMargin) 0.75rem;
  z-index: 9;
  transform: translateY(100%);
  transition: transform 500ms var(--easing);
  display: flex;
  flex-direction: column;
  gap: 8px;
  &[data-visible='true'] {
    transform: translateY(0);
  }
  @media (min-width: 1000px) {
    display: none;
  }
}
